/* ***** */
/* Resources page */
.firstCard{
  /* box-shadow: 0 5px 2px rgb(166, 203, 216); */
  box-shadow: 0 5px 5px #cecece;
}
.cardTitle{
  padding: 10px 10px 10px 10px;

  color: white;
  background-color: #4569FF;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 5px 2px #FFAB0A;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
}
/* .cardTitle1{
  background-color: rgb(250, 150, 0);
  border-radius: 50px 0 50px 0;
  color:black;
  
} */

.cardTitle2{
  color: #4569FF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: left;
}

.listItemTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: left;
}

.Types{
  box-shadow: 0 5px 2px rgb(166, 203, 216);
  border-radius: 15px;
  margin-bottom: 5vh;
}

.unorderedList {
  position: relative;
  left: 0px;
}

.rounded-circle{
  width: 85%;

  box-shadow: 0 10px 2px #cecece;
  margin-bottom:2vh;

  position: relative;
  left: 0px;
}

.symptomsSubText {
  width: 100%;

  margin: 10px;
  padding: 0px 0px 0px 0px;

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: center;

  position: relative;
  left: -31px;

  /* background-color: red; */
}

.preventionImage {
  width: 100%;
  border: 1px solid #cecece;
}

.carouselImg{
  width: 100%;
  height:50vh;
}

.carouselZIndex {
  z-index: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {

}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {

  .rounded-circle{ 
    position: relative;
    left: -10px;
  }
  
  .symptomsSubText {
    position: relative;
    left: -34px;
  }

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {

  .rounded-circle{ 
    position: relative;
    left: -4px;
  }
  
  .symptomsSubText {
    position: relative;
    left: -31px;
  }

}

/* -------------------- */

/* When Screen Size Max-Width is 340px */
/* (320px is viewport width of iPhone 5S/SE in vertical) */
@media screen and (max-width: 340px) {

  .rounded-circle{ 
    position: relative;
    left: -6px;
  }
  
  .symptomsSubText {
    position: relative;
    left: -31px;
  }

}


/* ****** */
/* resources page end */