nav {
    background-color: red;
    color: white;
    /* padding-right: 100px;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px 0px 15px 0px;
    text-align: center;
    width: 60%;
    /* border-radius: 0px 0px 70px 0px; */
    border-radius: 0px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* @media only screen and (max-width: 960px) {
    nav {
        font-size: 18px;
        padding-left: 0px;
        padding-right: 0px;
    }
  } */

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */
/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {

}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {

    nav {
        padding: 20px 20px 20px 15px;
        font-size: 24px;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {

    nav {
        font-size: 20px;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 340px */
/* (320px is viewport width of iPhone 5/SE in vertical) */
@media screen and (max-width: 340px) {

}