/* ******** */
/* Recipe Finder */

.calories{
color:#4569FF;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 24px;
}

.servingSizeText{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: left;
}

.ingredientsTitle{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: left;
}

.ingredients{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  text-align: left;
}

.nuTable{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
 
}
.recipeFinderTd{
  width:50%;
  background-color:#4569FF;
  padding-left:5 !important;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  /* position:relative; */
}

.recipeCardTitle{
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #4569FF;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 5px 2px #FFAB0A;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
}

.card-link{
  border: 2px solid rgba(166, 203, 216, .5);
  padding:5px 10px 5px 10px;
  border-radius: 5px;
  margin:5px;
  background-color: #4569FF;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  border: 1px solid #CECECE;
}
.card-link:hover {
  background-color: #2AC940;
  color: white;
}

.search-button{
  height: 40px;
  border: 2px solid rgba(166, 203, 216, .5);
  border-radius: 5px;
  background-color: #4569FF;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  border: 1px solid #CECECE;


}
.search-button:hover {
  background-color: #2AC940;
  color: white;
}
#cardBg{
  width: 100%;
  border: 1px solid #cecece;
  padding: 16px 0px 0px 0px;
  border-radius: 10px;
  margin-bottom: 5vh;
  box-shadow: 0 5px 5px #cecece;
  position: relative;
  left: 15px;
}
.recipeImg{
  height:50%;

  border: 1px solid #cecece;
  
}

.sectionTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  text-align: left;
}

.mainContentTextRed {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}

@media only screen and (max-width: 990px) {
  .recipeImg{
    width: 100%;
  }
}

/* ******** */
/* Recipe Finder end */