/* ******** */
/* Recipe Finder */
.tableBorder{
  border:2px solid rgba(228, 228, 228, 0.5);
  width: 100%;
  background-color:#4569FF;
  color:white;
}
.calories{
color:#4569FF;
}

.card-link{
  border: 2px solid rgba(166, 203, 216, .5);
  padding:5px 10px 5px 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 2px rgb(166, 203, 216);
  margin:5px;
}
#cardBg{
  border-left: 2px solid rgba(166, 203, 216, .5) ;
  border-top: 2px solid rgba(166, 203, 216, .5) ;
  margin-left:0;
  padding:5px;
  border-radius: 10px;
  margin-bottom: 5vh;
  box-shadow: 5px 5px 2px rgb(166, 203, 216);
}
.recipeImg{
  height:50%;
  
}
@media only screen and (max-width: 990px) {
  .recipeImg{
    height:50vh
  }
}

/* ******** */
/* Recipe Finder end */