
.customReactDatepicker {
    background-color: none;  /* Change color to see positioning on page */

    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 24px;

}