.pageHeader {
    color: #FFAB0A;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    text-align: center;

    position: relative;
    top: 90px;
}

.sectionTitle {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

.mainContentTextBlack {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}

.mainContentTextRed {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}

.mainContentTextYellowMediumBold {
    color: #FFAB0A;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

.horizontalRuleGray {
    height: 2px;

    background-color: #cecece;
}

.horizontalRuleBlue {
    height: 2px;

    background-color: #4569FF;
}

.horizontalRuleYellow {
    height: 2px;

    background-color: #FFAB0A;
}