.cardPreview {
  padding: 70px 0px 0px 0px;
}

/* .button-preview {
  width: 100%;
  height: 50px;

  border: 1px solid #CECECE;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;


  background-color: #4569FF;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 27px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  position: relative; 
  left: 0px;
}

.button-preview:hover {
  background-color: #2AC940;
  color: white;
} */

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */
/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {

}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {



}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {

  .cardPreview {
    padding: 15px 0px 0px 0px;
  }

}

/* -------------------- */

/* When Screen Size Max-Width is 340px */
/* (320px is viewport width of iPhone 5/SE in vertical) */
@media screen and (max-width: 340px) {

}